* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    font-size: 25px;
    text-align: center;
    position: relative; 
    top: 0px;
    left: 0px;
    color: rgb(0, 0, 0);
    background-color: #45b1ff;
    font-family: 'Work Sans', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar {
    text-align: right;
}

.header h1 {
    text-align: center;
    padding-right: 20px;
}

body {
    background: url("/static/images/food.jpg") no-repeat center fixed;
    background-size: cover;
}

body h1 {
    font-size: 30px;
    text-align: center;
    position: relative; 
    top: 0px;
    left: 0px;
    color: rgb(0, 0, 0);
    background-color: #45b1ff;
    font-family: 'Work Sans', sans-serif;
}

body h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
}

.restpic img { 
    float: left;
    width: 300px;
    height: 300px;
}

.sidebar {
    color: rgb(0, 0, 0);
    font-size: 20px;
    background: white;
    padding-top: 20px;
    float: left;
}

.blurb{
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    float: left;
}