
/* Style rule for footer border/background/Social Media Icons*/
/*.footer-container {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  */
  *{
    margin: 0;
    padding: 0;
  }

html, body{
    background-image: url("food.jpg");
    height: 100%;
    margin: 0;
    padding: 0;
  }

footer{
  background-color: black;
  position: absolute;
  display: flex;
  flex-wrap: wrap ;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo{
  text-align: left;
  flex-wrap: wrap;
  display: flex;
  max-height: 360px;
  max-width: 600px;

}

.button{
  text-align: center;
  padding: 40px;
  border-radius: 5px;


}
.Message{
  color: white;
  text-align: center;
  flex-wrap: wrap;
  font-weight: bolder;
  font-size: x-large;
  padding: 20px;
  margin-top: 20px;
}

footer li{
  color: white;
  list-style-type: none;
  margin-top: 0;
  display: inline;
  margin-right: 10px;
}
footer ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer{
  margin: auto;
  padding: 0;
  margin-top: auto;
}*/

/*footer{
  border: 1px solid red;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}*/