{% load static %}
<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="{% static 'css/filter.css' %}"></head>
<title>Filters</title>
<body>
    <div class="filter-box">
        <h2>Filterss</h2>    
        <form id="prefs" action = "" method = "post"> 
            {% csrf_token %} 
            {{form}} 
            <input id="submit" type="submit" value=Submit> 
        </form> 
    </div>
    <div class="restaurants">
        <h2>Restaurants</h2>    
        {% for id, restaurant in restaurants.items %}
            <a href="{% url 'landing' %}?id={{restaurant.id}}">
                <div class="restbox">
                    <h2>{{restaurant.name}}</h2>
                        {{restaurant.address}}
                        , {{restaurant.city}}
                </div>   
            </a>
        {% endfor %}
    </div>
</body>
</html>