{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> ResBuilder</title>
</head>
<header class="header">
    <a href="#" class="logo">ResBuilder</a> 
    <nav class="navbar">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Terms of Service</a>
    </nav>

</header>
<body> 
    <div class="logo">
        <img src="media/logo.png" class="logo" >
    </div>
    <div class="Message">
        <h1>Hungryy?</h1>
    </div>
    <div class="button">
        <a href="{% url 'filter' %}">
            <button type="button">Find Food</button>
        </a>
    </div>
</body>
</html>