<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles 2.CSS">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Rez Builder</title>
</head>
<body> 
    <div class="logo">
        <img src="logo.png" class="logo" >
    </div>
    <div class="Message">
        <h1>Hungryy?</h1>
    </div>
    <div class="button">
        <button onclick="window.location.href='filter.html';"> Find Food </button>
    </div>
</body>
<footer>
    <div class="footer-container"><!--Code for Footer and Social Media Iconos-->
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/"><i class="fa-facebook"></i></a></li>
                <img src="../facebook logo.png" alt="Facebook Icon" width="80" height="80">
          <li><a href="https://twitter.com/"><i class="fa-twitter"></i></a></li>
                <img src="../twitterTRANS.png" alt="Twitter Icon" width="80" height="80">
          <li><a href="https://www.instagram.com/"><i class="fa-instagram"></i></a></li>
                <img src="../IGTRANS.PNG" alt="Instagram Icon" width="80" height="80">
          <li><a href="https://www.youtube.com/"><i class="fa-youtube"></i></a></li>  
                <img src="../youtubetrans.png" alt="Youtube Icon" width="80" height="80">
          <li>Terms and Conditions</li>
          <li>Contact</li>
        </ul>
      </div>

      </div>
</footer>

</html>