{% load static %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="{% static 'css/landing_test.css' %}">
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMiDBzFBTy41UHfZqx3q_16kZgA-DcqXc&callback=initMap" type="text/javascript"></script>
</head>
<title>Landing</title>
<body>
    <header class="header">
        <a href="#" class="logo">ResBuilder</a> 
        <nav class="navbar">
            <a href= "{% url 'landing' %}" > Cart page </a>">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Terms of Service</a>
        </nav>

    </header>
<div id="flexbox">
	<div class ="flexitem"> 
		<h1>Welcome to {{rest_name}}!</h1>
			<h1>{{rest_name}} is a restaurant located in {{rest_city}}</h1>
			<h1>The Average rating is {{rest_rating}} stars</h1>
			<ul>
				<h1>Restaurant Information</h1>
				<li>Website: <a href="{{rest_site}}">Link</a> </li>
				<li>Phone: {{rest_phone}}</li>
				<li>Address: {{rest_addr}}</li>	
			</ul>
		<div id="map" style = "clear:both; height:200px;"></div>
		<script>
			const currentUrl = window.location.href;
			let params = (new URL(currentUrl)).searchParams;
			// Initialize the map
			function initMap() {
			  // Specify the center and zoom level
			  var mapOptions = {
				center: new google.maps.LatLng(50, 50),
				zoom: 13
			  };
		  
			  // Create the map
			  var map = new google.maps.Map(document.getElementById('map'), mapOptions);
			}
		  </script>
	</div>
	<div class ="flexitem">
			<img src="{{rest_img}}">
	</div>	
	<div class="flexitem"> 
		<div class="flexR"> 
			<h3>{{rest_name}} Reviews!</h3> 
		</div>
	<div class="flexitem"> 
		<p>Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			
		</p>
	</div>
	<div class="flexitem"> 
		<p>
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
		</p>
	</div>
	<div class="flexitem"> 
		<p>
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
			Rest_reviews1Rest_reviews1Rest_reviews
			Rest_reviews11Rest_reviews1Rest_reviews1
		</p>		
	</div>
	</div>  
	</div> 
</div>
</body>
</html>