{% load static %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="{% static 'css/landing_test.css' %}">
</head>
<title>Landing</title>
<body>
    <header class="header">
        <a href="*" class="logo"></a> 
        <nav class="navbar">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>
            <a href="">Terms of Service</a>
        </nav>
    </header>
	<h1>Welcome to {{rest_name}}!</h1>
	<div class ="blurb">
		<p>{{rest_name}} is a restaurant located in {{rest_city}}</p>
	</div>
	<h2>Average rating is {{rest_rating}} stars</h2>
	<div class ="restpic">
		<img src="{{rest_img}}">
	</div>	
	<div class ="sidebar">
		<ul>
			<li>Website: <a href="{{rest_site}}">Link</a> </li>
			<li>Phone: {{rest_phone}}</li>
			<li>Address: {{rest_addr}}</li>	
		</ul>
	</div>
	
</body>
</html>