body {
    background: url("/static/images/food.jpg");
    background-size: cover;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    top: 50%;
    left: 50%;
}
.logo{
    text-align: left;
    max-width: 40%;
    border-radius: 2px purple;
    margin-left: -20px;
    margin-top: -40px;
}

body h1 {
    font-size: 40px;
    text-align: center;
    position: relative; 
    top: 0px;
    left: 0px;
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
  }

footer ul li {
    color: white;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 130px;
}
.social-icons {
    margin-bottom: 5px;
    float: left;
}

.scrollable {
    display: inline-block;
    position: fixed;
    max-width: 500px;
    max-height: 500px;
    border: 2px solid red; 
    height: auto;
    box-sizing: border-box; 
    padding: 1rem; 
    margin-top: 150px;
    text-align: right; 
    color: green; 
    overflow: hidden;
    overflow-y: scroll;
} 