*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    background-image: url("../images/food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}


.logo{
    text-align: left;
    flex-wrap: wrap;
    display: inline-block;
    max-height: 360px;
    max-width: 600px;
  }



#prefs label{
    display: block;
    margin-top: 10px;
}

.form{
    display: inline-block;
}

.filter-box{
    float: left;
    width: 25%;
    padding: 20px;
    height: 240px;
    background-color:grey;
    margin-left: 0;
    margin-top: 10px;
    border: 1px solid black;
}

.form-controls{
    display: flex;
    justify-content: start;
    margin-top: 10px;
}

#submit{
    margin-right: 10px;
	display: flex;
	justify-content: start;
	margin-top: 10px;
}

.restaurants h1{
	text-align: center;
    border: 3px solid green;
    color: white;
}

.restaurants h3{
  color: green;
}
.fa {
    display: inline-block;
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
    text-align: center;
    width: 24px;
  }
  
  .fa-facebook {
    background-color: #3b5998;
    border-radius: 50%;
    color: #fff;
  }
  
  .fa-twitter {
    background-color: #55acee;
    border-radius: 50%;
    color: #fff;
  }
  
  .fa-instagram {
    background-color: #e4405f;
    border-radius: 50%;
    color: #fff;
  }
  
  .fa-youtube {
    background-color: #cd201f;
    border-radius: 50%;
    color: #fff;
  }
  
  .footer-container {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  
  }
  /*Style rules for Social Media links*/
  .social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-icons li a {
    color: #fff;
    display: block;
    font-size: 20px;
  }
  
  .nav li a{
    text-decoration: none;
    margin-top: 10px;
  }

  .restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    width: 60%;
    height: auto;
    padding: 20px;
    border: 4px solid black;
    overflow-y: scroll;
    background: grey;
}

  .restaurants .RI {
    max-width: 100%;
    max-height: 100%;
    font-size: 12px;
    text-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }
  .restaurants .RI .RN h3{
    width: 150px;
    margin-bottom: 10px;
  }

  .restaurants .RI .RA h3{
    vertical-align: center;
  }

  .restaurants .RI .RC h3 {
    width: 150px;
    text-align: right;
  }