body{
    margin: 0;
    padding: 0;
    background-image: url("/static/images/food.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.terms-box{
    margin: 20px;
    margin-top: 60px;
    background-color: grey;
    color: white;
    font-family: "Montserrat";
    position: relative;
    z-index: 1;
}
.terms-text{
    margin-top: 0;
    padding: 0 20px;
    height: 500px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.terms-text::-webkit-scrollbar{
    width: 2px;
    background-color: white;
}

.terms-text::-webkit-scrollbar-thumb{
    background-color: red;
}

.terms-box h4{
    font-size: 15px;
    text-align: center;
    padding: 0 40px;
}
.terms-text h2{
  color:red;
}
.terms-box h4 span{
    color: red;
}

.buttons{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}

.btn{
    height: 50px;
    width: calc(50% - 16px);
    border: 0;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    color: white;
    transition: .3s linear;
    cursor: pointer;
}  


#acceptButton{
    background-color: red;
}
#declineButton{
    background: black;
}

.logo{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 0;
}
.btn:hover{
    opacity: .5;
}

/* Social Media Footer Links Font Awesome*/
.fa {
  display: inline-block;
  font-size: 24px;
  height: 24px;
  line-height: 24px;
  margin-right: 10px;
  text-align: center;
  width: 24px;
}

.fa-facebook {
  background-color: #3b5998;
  border-radius: 50%;
  color: #fff;
}

.fa-twitter {
  background-color: #55acee;
  border-radius: 50%;
  color: #fff;
}

.fa-instagram {
  background-color: #e4405f;
  border-radius: 50%;
  color: #fff;
}

.fa-youtube {
  background-color: #cd201f;
  border-radius: 50%;
  color: #fff;
}

.footer-container {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;

}
/*Style rules for Social Media links*/
.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin: 0 10px;
}

.social-icons li a {
  color: #fff;
  display: block;
  font-size: 20px;
}

.nav li a{
  text-decoration: none;
  margin-top: 10px;
}