{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/About.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/About.css' %}">
    <link rel="shortcut icon" href="../static/images/logo.png">
    <title>About</title>
</head>
<header class="header">
    <a href="#" class="logo">ResBuilder</a> 
    <nav class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'About' %}">About</a>
        <a href="{% url 'Contact' %}">Contact</a>
        <a href="{% url 'TOS' %}">Terms of Service</a>
    </nav>

</header>
<body>

    <div id="flexbox">
        <div class="flex"><p>Christian Castillo</p>
        <img src="{% static 'images/img.png' %}"alt="profile">
        <p class="desc">STUFF ABOUT CHRISTIAN C</p>
        </div>
        <div class="flex"><p>Christian L</p>
        <img src="{% static 'images/img.png' %}" alt="profile">
        <p class="desc">STUFF ABOUT CHRISTIAN L</p>
        </div>
        <div class="flex"><p>Michael Chambers</p>
        <img src="{% static 'images/img.png' %}" alt="profile">
        <p class="desc">STUFF ABOUT MIKE</p>
        </div>
        <div class="flex"><p>Nicholas Branch</p>
        <img src="{% static 'images/img.png' %}" alt="profile">
        <p class="desc">STUFF ABOUT NICK</p>
        </div>
    </div>
</body>
</html>