{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/filter.css' %}">
    <link rel="shortcut icon" href="../static/images/logo.png">
</head>
<title>Filters</title>
<body>
    <header class="header">
        <a href="#" class="logo">ResBuilder</a> 
        <nav class="navbar">
            <a href= "{% url 'home' %}" >Home</a>
            <a href="{% url 'About' %}">About</a>
            <a href="{% url 'Contact' %}">Contact</a>
            <a href="{% url 'TOS' %}">Terms of Service</a>
        </nav>

    </header>
    <div class="filter-box">
        <h2>Filterss</h2>    
        <form id="prefs" action = "" method = "post"> 
            {% csrf_token %} 
            {{form}} 
            <input id="submit" type="submit" value=Submit> 
        </form> 
    </div>
    <div class="restaurants">
        <h2>Restaurants</h2>    
        {% for restaurant in restaurants %}
            <a href="{% url 'landing' %}?id={{restaurant.id}}">
                <div class="restbox">
                    <h2>{{restaurant.name}}</h2>
                        {{restaurant.address}}
                        , {{restaurant.city}}
                </div>   
            </a>
        {% endfor %}
    </div>
</body>
</html>