{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/6c1512dafc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/filter.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="../static/images/logo.png">
</head>
<title>Filters</title>
<body>
    <div class="logo">
        <img src="../static/images/logo.png" class="logo" >
    </div>
    <div class="restaurants">
        <h1>Restaurants</h1>    
        {% for restaurant in restaurants %}
            <a href="{% url 'landing' %}?id={{restaurant.id}}">
            <div class="RI">
                <div class="RN">
                    <h3>{{restaurant.name}}</h3>
                </div>
                <div class="RA">
                    <h3>{{restaurant.address}}</h3>
                </div>
                <div class="RC">
                   <h3>{{restaurant.city}}</h3>
                </div>
            </div>
            </a>
        {% endfor %}
    </div>
    <br>
    <div class="filter-box">
        <h2>Filters</h2>    
        <form id="prefs" action = "" method = "post"> 
            {% csrf_token %} 
            {{form}} 
            <input id="submit" type="submit" value=Submit> 
        </form> 
    </div>
</body>
<footer>
    <footer>
        <div class="footer-container">
            <ul class="social-icons">
              <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
              <li>&copy; 2023 RezBuilder. All rights reserved.</li>
              <div class="nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'About' %}">About</a></li>
                <li><a href="{% url 'Contact' %}">Contact</a></li>
                <li><a href="{% url 'TOS' %}">Terms of Service</a></li>
            </div>
            </ul>
          </div>
    </footer>
</footer>
</html>