{% load static %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="{% static 'css/landing_test.css' %}">
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMiDBzFBTy41UHfZqx3q_16kZgA-DcqXc&callback=initMap" type="text/javascript"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../static/images/logo.png">

</head>
<title>Landing</title>
<header class="header">
	<a href="{% url 'home' %}" class="logo">Rez-Builder</a> 
	<nav class="navbar">
		<a href="{% url 'home' %}">Home</a>
		<a href="{% url 'About' %}">About</a>
		<a href="{% url 'Contact' %}">Contact</a>
		<a href="{% url 'TOS' %}">Terms of Service</a>
	</nav>

</header>
<body>
	<div id="flexbox">
		<div class ="flexitem"> 
				<P>Welcome to {{rest_name}}!</h1>
					<br>
					{{rest_name}} is a restaurant located in {{rest_city}}
					<br>
					The Average rating is {{rest_rating}} stars
					<br>
					Restaurant Information!
					<br>
					Website: <a href="{{rest_site}}">Link</a>
					<br>
					Phone: {{rest_phone}}
					<br>
					Address: {{rest_addr}}
					<br>
				</p>
				<img src="{{rest_img}}">
				{% for review, value in rest_reviews.items %}
					<div id="reviews">
						<img src="{{value.picture}}">
						<h2>{{value.name}}</h2>
						<h2>{{value.text}}</h2>
						<h2>{{value.rating}}</h2>
						<h2>{{value.date}}</h2>
					</div>
				{% endfor %}
			<!--<div id="map">
					<script>
					// Initialize the map
					function initMap() {
					// Specify the center and zoom level
					var mapOptions = {
						center: { lat: 42.3601, lng: -71.0589},
						zoom: 12
					};
				
					// Create the map
					var map = new google.maps.Map(document.getElementById('map'), mapOptions);
					}
					</script>
			</div> -->
		</div> 
	</div>
</body>
</html>
