{% load static %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="{% static 'css/landing_test.css' %}">
	<script src="https://kit.fontawesome.com/6c1512dafc.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../static/images/logo.png">

</head>
<title>Landing</title>
<body>
	<div id="flexbox">
		<div class ="flexitem"> 
				<P>Welcome to {{rest_name}}!</h1>
					<br>
					{{rest_name}} is a restaurant located in {{rest_city}}
					<br>
					The Average rating is {{rest_rating}} stars
					<br>
					Restaurant Information!
					<br>
					Website: <a href="{{rest_site}}">Link</a>
					<br>
					Phone: {{rest_phone}}
					<br>
					Address: {{rest_addr}}
					<br>
				</p>
				<img src="{{rest_img}}">
				{% for review, value in rest_reviews.items %}
					<div id="reviews">
						 <!-- Additional review elements here -->
						<p class="review-date">{{ value.timestamp }}</p>
						<span class="verified">Verified Reviewer*</span>
						<img src="{{value.picture}}" class="profile_pic">
						<h2>{{value.name}}</h2>
						<h2>{{value.text}}</h2>
						<h2 id="rating"><strong>Rating {{value.rating}}/5 </strong></h2>
						<h2>{{value.date}}</h2>
					</div>
				{% endfor %}

				<div class="pagination">
					{% if page.has_previous %}
						<a href="?page={{ page.previous_page_number }}">&laquo;</a> 
					{% endif %}
				</div>
		</div> 
	</div>
</body>
<footer>
    <div class="footer-container">
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
          <li>&copy; 2023 RezBuilder. All rights reserved.</li>
          <div class="nav">
            <li><a href="{% url 'home' %}">Home</a></li>
		    <li><a href="{% url 'About' %}">About</a></li>
		    <li><a href="{% url 'Contact' %}">Contact</a></li>
		    <li><a href="{% url 'TOS' %}">Terms of Service</a></li>
        </div>
        </ul>
      </div>
</footer>
</html>
